:host{
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host:hover{
  cursor: default;
}

:host(.clicked) {
  background-color: #bbdefb;
}

span{
  font-family: "Kameron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

